doctype html
head
  title React.Do
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  meta(charset="utf-8")
  link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.css")
  script(src="../node_modules/react/dist/react.js")

body
  h1 React.Do
  div#app-box
  script(src="js/app.js")
